params {
    inputs = "/Users/tgnguyen@dnanexus.com/Documents/personal_dev/nf-schema-formatter/nextflow/data/fastq" 
    sample_sheet = "/Users/tgnguyen@dnanexus.com/Documents/personal_dev/nf-schema-formatter/nextflow/data/samplesheet.csv"
    sample_sheet_config = ""
    // general
    publish_dir_mode = "symlink"
    outdir = "result" 
}
docker.registry = "docker.io"